body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
table tbody tr td input {
  margin: 0!important;
  height: 20px!important;
}
table tbody tr td:last-child {
  max-width: 130px;
}

table {
  table-layout: fixed;
}

button.active {
  color: white!important;
  border-color: #222222!important;
  background-color: #222222!important;
}
